.col1 {
  display: flex;
  flex-basis: 25%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  padding: 5px;
  letter-spacing: 1px;
}

.col2 {
  display: flex;
  flex-basis: 25%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  padding: 5px;
  letter-spacing: 1px;
}

.col3 {
  display: flex;
  flex-basis: 25%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  padding: 5px;
  letter-spacing: 1px;
}

.col4 {
  display: flex;
  flex-basis: 25%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
  padding: 5px;
}

.contain {
  display: flex;
  height: 250px;
  width: 100%;
  gap: 40px;
}

#header {
  background: #fff;
  text-align: center;
}

#button {
  margin-top: 250px;
  text-align: center;
}

#footer {
  text-align: center;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
}